<!-- Sidebar -->
<div id="sidebar" class="sidebar">
	<div class="sidebar-content">
		<span class="close-btn" onclick="closeSidebar()">×</span>
		<h2 id="item-title"></h2>
        <span id="item-type" class="badge">New</span>
		<p id="item-description"></p>
        <br>
        <a id="github-link" href="" target="_blank"></a>
        <br>
        <br>

        <!-- Formulaire pour modifier l'URL GitHub -->
		<form id="github-form" onsubmit="submitGitHubForm(event)">
			<label for="github-url">GitHub URL :</label>
			<input type="text" id="github-url" name="github-url" placeholder="Entrez l'URL GitHub" />
			<button type="submit">Mettre à jour</button>
		</form>
	</div>
</div>
