{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Challenge{% endblock %}

{% block body %}
    <div class="col-md-6" style="float:none;margin:auto;">
        <div class="d-flex align-items-center mt-2">
            <div>
                <h3>Nouveau challenge</h3>
            </div>
        </div>

        {{ include('challenge/_form.html.twig') }}
    </div>

{% endblock %}
